#funcionalidades {
    @include media-breakpoint-down(sm) {
        // padding-top: rem(250) $i;
        padding-bottom: rem(30) $i;
    }
}

.funcionalidades {

    h2 {
        @include media-breakpoint-down(sm) {
            text-align: center;
        }
    }

    p {
        margin-bottom: rem(54);
    }

    .modulos {
        margin-top: rem(30);
        padding-top: rem(20);

        .card {
            background-color: transparent;
            border: none;
            text-align: center;
            margin: rem(30) auto;
            
            @include media-breakpoint-down(sm) {
                margin: 0;
                width: 210px;
                margin: auto;
            }

            .card {
                &-img {
                    min-height: 115px;

                    .card-img-top {
                        width: 100%;
                        max-width: max-content;
                        margin: auto;
                    }
                }

                &-body {
                    padding-left: 0;
                    padding-right: 0;

                    .card-title {
                        font-size: rem(26);
                        font-family: $font-bold-it;
                    }

                    .card-text {
                        font-size: rem(22);
                    }
                }
            }
        }
    }
}